<div class="profil-page">
  <div class="page-header">
    <h2>Liste des boutiques</h2>
  </div>

  <div class="card filters-card">
    <h3>Filtres</h3>
    <div class="filters">
      <div class="form-group">
        <label>Statut</label>
        <select [(ngModel)]="filterStatus" >
          <option value="">Tous</option>
          <option *ngFor="let status of shopStatus"[value]="status.value">{{ status.value }}</option>
          <!-- @for (status of shopStatus; track status._id) {
            <option [value]="status.value">{{ status.value }}</option>
          } -->
        </select>
      </div>
      <div class="form-group">
        <label>Catégorie</label>
        <select [(ngModel)]="filterCategory">
          <option value="">Toutes</option>
          <option *ngFor="let cat of shopCategories"[value]="cat.value">{{ cat.value }}</option>
          <!-- @for (cat of shopCategories; track cat._id) {
            <option [value]="cat.value">{{ cat.value }}</option>
          } -->
        </select>
      </div>
    </div>
  </div>

  <div class="card table-card">
    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Boutique</th>
            <th>Catégorie</th>
            <th>Statut</th>
            <th>Propriétaire</th>
            <!-- <th>Loyer mensuel</th> -->
            <!-- <th>Loyer payé jusqu'au</th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of filteredBoutiques">
          <!-- @for (b of filteredBoutiques; track b._id) {
            <tr> -->
              <td>
                <div class="boutique-cell">
                  @if (b.logo) {
                    <img [src]="b.logo" [alt]="b.name" class="boutique-logo" />
                  } @else {
                    <div class="boutique-logo boutique-logo--placeholder">
                      <span class="material-symbols-outlined">store</span>
                    </div>
                  }
                  <strong>{{ b.name }}</strong>
                </div>
              </td>
              <td>{{ b.shop_category.value }}</td>
              <td>
                <span class="badge" [class]="'badge--' + getStatusLabelString(b.shop_status.value)">{{b.shop_status.value }}</span>
              </td>
              <td>{{ b.owner.email }}</td>
              <!-- <td>{{ b.monthlyRent | number }} Ar</td> -->
              <!-- <td>{{ b.rentPaidUntil || '—' }}</td> -->
              <td>
                <a [routerLink]="['/boutique/profil', b._id]" class="btn-link">Detail</a>
                <!-- <a [routerLink]="boutique/profil" class="btn-link">Detail</a> -->
              </td>
            </tr>
          <!-- } -->
        </tbody>
      </table>
    </div>
  </div>
</div>
