<div class="boutiques-page">
  <div class="page-header">
    <h2>Gestion des boutiques</h2>
    <a [routerLink]="['/admin/boutiques/nouvelle']" class="btn btn--primary">Créer une boutique</a>
  </div>

  <div class="card filters-card">
    <h3>Filtres</h3>
    <div class="filters">
      <div class="form-group">
        <label>Statut</label>
        <select [(ngModel)]="filterStatus" >
          <option value="">Tous</option>
          @for (status of shopStatus; track status._id) {
            <option [value]="status.value">{{ status.value }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label>Catégorie</label>
        <select [(ngModel)]="filterCategory">
          <option value="">Toutes</option>
          @for (cat of shopCategories; track cat._id) {
            <option [value]="cat.value">{{ cat.value }}</option>
          }
        </select>
      </div>
    </div>
  </div>

  <div class="card table-card">
    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Boutique</th>
            <th>Catégorie</th>
            <th>Statut</th>
            <th>Propriétaire</th>
            <!-- <th>Loyer mensuel</th> -->
            <!-- <th>Loyer payé jusqu'au</th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (b of filteredBoutiques; track b._id) {
            <tr>
              <td><strong>{{ b.name }}</strong></td>
              <td>{{ b.shop_category.value }}</td>
              <td>
                <span class="badge" [class]="'badge--' + getStatusLabelString(b.shop_status.value)">{{b.shop_status.value }}</span>
              </td>
              <td>{{ b.owner.email }}</td>
              <!-- <td>{{ b.monthlyRent | number }} Ar</td> -->
              <!-- <td>{{ b.rentPaidUntil || '—' }}</td> -->
              <td>
                <a [routerLink]="['/admin/boutiques', b._id]" class="btn-link">Modifier</a>
                @if (b.shop_status.value === 'En attente') {
                  <button type="button" class="btn-link btn-link--success">Valider</button>
                }
                @if (b.shop_status.value === 'Active') {
                  <button type="button" class="btn-link btn-link--danger">Désactiver</button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
